package main

import (
	"fmt"
	"log"
	"net/http"
	"sync"

	"github.com/gorilla/websocket"
)

var upgrader = websocket.Upgrader{
	CheckOrigin: func(r *http.Request) bool {
		return true
	},
}

type Connect struct {
	connMap *sync.Map
}

var connects = Connect{
	connMap: &sync.Map{},
}

// 增加一个连接
func (c *Connect) AddConn(conn *websocket.Conn) {
	c.connMap.Store(conn, true)
}

// 判断一个链接是否存在
func (c *Connect) IsConnExist(conn *websocket.Conn) bool {
	_, ok := c.connMap.Load(conn)
	return ok
}

// 删除一个连接
func (c *Connect) DelConn(conn *websocket.Conn) {
	c.connMap.Delete(conn)
}

func echo(w http.ResponseWriter, r *http.Request) {
	conn, err := upgrader.Upgrade(w, r, nil)
	if err != nil {
		log.Print("upgrade:", err)
		return
	}
	defer conn.Close()

	for {
		mt, message, err := conn.ReadMessage()
		if err != nil {
			log.Println("read:", err)
			break
		}
		log.Printf("recv: %s", message)
		err = conn.WriteMessage(mt, message)
		if err != nil {
			log.Println("write:", err)
			break
		}
	}
}

func main() {
	http.HandleFunc("/ws", echo)
	fmt.Println("WebSocket server started at ws://localhost:8080/ws")
	log.Fatal(http.ListenAndServe(":8080", nil))
}
